body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(103, 102, 102) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header .container {
  max-width: 250px;
  margin: 0 0 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 45vw;
  border: 10px solid #070a3a;
  background-color: rgb(40, 40, 40);
}

input::placeholder{
  color: black;
}

.email-label{
  display: block;
  color: grey;
}

.email-input{
  padding: 3px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(103, 102, 102);
  border: black;
}

.email-field{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.password-label{
  color: grey
}

.password-input{
  padding: 3px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(103, 102, 102);
  border: black;
}

.password-field{
  margin-bottom: 40px;
}

.login-button-row{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.anonymity-warning{
  margin-bottom: 40px;
  color: grey;
}

.username-field{
  margin-bottom: 40px;
}

.username-label{
  color: grey;
}

.username-input{
  padding: 3px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(103, 102, 102);
  border: black;
}

.error-message{
  color: grey;
}

.action-button{
  border: 5px solid #070a3a;
  background-color: rgb(103, 102, 102);
  border-radius: 10px;
}

.action-button:hover{
  border: 5px solid #070a3a;
  background-color: rgb(54, 53, 53);
  border-radius: 10px;
}

.action-button:active{
  border: 5px solid #070a3a;
  background-color: #070a3a;
  border-radius: 10px;
}

.different-action-button{
  border: 5px solid #070a3a;
  background-color: rgb(103, 102, 102); 
  border-radius: 10px;
}

.different-action-button:hover{
  border: 5px solid #070a3a;
  background-color: rgb(54, 53, 53);
  border-radius: 10px;
}

.different-action-button:active{
  border: 5px solid #070a3a;
  background-color: #070a3a;
  border-radius: 10px;
}

.main-header{
  background-color: rgb(40, 40, 40);
}

.home-navbar{
  color: #88868f;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-navbar:hover{
  color: #66656b;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.home-link{
  text-decoration: none;
}

.post-navbar{
  margin-left: 40px;
  color: #88868f;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-navbar:hover{
  margin-left: 40px;
  color: #66656b;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-link{
  text-decoration: none;
}

.profile-navbar{
  margin-left: 40px;
  color: #88868f;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-navbar:hover{
  margin-left: 40px;
  color: #66656b;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-link{
  text-decoration: none;
}

.post-form{
  max-width: 1000px;
  height: 100vh;

}

.post-form-container{
  height: 100%;
  margin: 0; 
  display: flex;
  flex-direction: column;
}

.post-forum-heading{
  text-align: center;
  margin-bottom: 60px;
}

.content-label{
  display: inline;
  vertical-align: top;
}

.content-input{
  background-color: #333333;
  border-radius: 0px;
  color: rgb(148, 145, 138);
}

.content-input::placeholder{
  color: rgb(148, 145, 138);
}

.post-button{
  vertical-align: top;
  width: 60px;
  height: 23px;
  border-radius: 8px;
  color: rgb(148, 145, 138);
  background-color:rgb(3, 11, 58);
}

.post-error{
  color: #551313;
}

.tags-list-member{
  display: inline;
}

.home-heading{
  text-align: center;
  margin-bottom: 60px;
}

.adding-tags{
  background-color:#66656b;
  border: 3px solid rgb(3, 11, 58);
  border-radius: 8px;
  margin-left: 3px;
}

.adding-tags:hover{
  background-color: #838386;
}

.adding-tags:active{
  background-color: rgb(3, 11, 58);
}

.adding-tags-active{
  background-color: #66656b;
  border: 4px solid rgb(222, 215, 215);
  border-radius: 8px;

}

.adding-tags-active:hover{
  background-color: #838386;
}

.remove-tags{
  background-color:#66656b;
  border: 3px solid rgb(3, 11, 58);
  border-radius: 8px;
  margin-left: 3px;
}

.remove-tags:hover{
  background-color: #838386;
}

.remove-tags:active{
  background-color: rgb(3, 11, 58);
}

.additional-tags{
  background-color:#66656b;
  border: 3px solid rgb(3, 11, 58);
  border-radius: 8px;
  margin-left: 3px;
  margin-bottom: 30px;
}

.additional-tags:hover{
  background-color: #838386;
}

.additional-tags:active{
  background-color: rgb(3, 11, 58);
}

.additional-tags-active{
  background-color: #66656b;
  border: 4px solid rgb(40, 40, 40);
  border-radius: 8px;
}

.post{
  border: 5px solid rgb(40, 40, 40);
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 1000px;
  padding: 10px;
}

.all-posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tags-list{
  margin-bottom: 0px;
}

.like-button{
  background-color: rgb(40, 40, 40);
  color: #e5e5e5;
  border-radius: 10px;
  width: 68px;
  margin-top: 20px;
}

.dislike-button{
  background-color: rgb(40, 40, 40);
  color: #e5e5e5;
  border-radius: 10px;
}

.show-comments-button{
  background-color: rgb(40, 40, 40);
  color: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 15px;
}

.profile-heading{
  text-align: center;
  margin-bottom: 60px;
}

.delete-button{
  background-color: rgb(40, 40, 40);
  color: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 15px;
}

.report-button{
  background-color: rgb(40, 40, 40);
  color: #e5e5e5;
  border-radius: 10px;
  width: 68px;
  margin-top: 20px;
  display: block;
  margin-bottom: 20px;
}

.post-content{
  margin-top: 30px;
}

.comment-label{
  vertical-align: top;
  display: inline;
}

.comment-post-button{
  vertical-align: top;
  width: 60px;
  height: 23px;
  border-radius: 8px;
  color: rgb(148, 145, 138);
  background-color:rgb(3, 11, 58);
  margin-left: 5px;
}

.all-comment{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment{
  border: 5px solid rgb(40, 40, 40);
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 1000px;
  padding: 10px;
}

.comment-content{
  margin-bottom: 10px;
}

.show-replies-button{
  background-color: rgb(3, 11, 58);
  color: rgb(148, 145, 138);
  border-radius: 5px;
  margin-bottom: 15px;
}

.hide-replies-button{
  background-color: #551313;
  color: rgb(148, 145, 138);
  border-radius: 5px;
  margin-bottom: 15px;
  display: block;
}

.all-replies{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-reply{
  border: 5px solid rgb(40, 40, 40);
  margin-bottom: 10px;
  max-width: 800px;
  min-width: 800px;
  padding: 10px;
}

.reply-comment-button{
  vertical-align: top;
  width: 60px;
  height: 23px;
  border-radius: 8px;
  color: rgb(148, 145, 138);
  background-color:rgb(3, 11, 58);
  margin-left: 5px;
}

.report-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.report-heading{
  text-align: center;
  margin-bottom: 50px;
}

.report-label{
  display: inline;
}

.report-submit-button{
  vertical-align: top;
  width: 60px;
  height: 23px;
  border-radius: 8px;
  color: rgb(148, 145, 138);
  background-color:rgb(3, 11, 58);
  margin-top: 20px;
}
